@import url('https://fonts.googleapis.com/css2? family= Comfortaa:wght@300;400;500;600;700 & family= Rubik+Moonrocks & family= Rubik+Puddles & display= менять');

*{
    margin: 0;
    padding: 0;
}
body{
   font-family: 'Comfortaa', cursive;
   background-color: rgb(170, 192, 237);
}
.active-link{
    background-color: hotpink;
    color: white;
}
.active-link a{
    color: white;
}

/* Б У Р Г Е Р */
.container-burge label {
    width: 32px;
    height: 32px;
    display: block;
    position: relative;
   }
   .container-burger input[type="checkbox"] + span {
    position: absolute;
    width: 32px; 
    height: 32px;    
    left: 30px; 
    top: 14px;
    background: url(../icon/burger.png) no-repeat;
    cursor: pointer; /* Курсор рука */
   }
   #toggle {
    display: none;
   }
   nav {
    display: none;
   }
   .container-burger{
    display: none;
    background-color: #0000ff9e;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 1;    
    position: fixed;
   }

/* М Е Н Ю */
.aside{
    position: fixed;
    width: 200px;    
    height: 100vh;    
    text-align: center;
    box-shadow: 3px 3px 4px 1px;
    background-color: rgb(190 210 250);
}
h2{
    padding-left: 20px;
    padding-top: 10px;
}
.menu{
    width: 140px;
    margin: 0 auto;  
}
hr{
    background-color: rgb(116, 116, 116);
    height: 2px;
    margin-top: 10px;
    border: 0;
}
.menu li{
    display: flex;
    width: 160px;
    height: 40px;    
    align-items: center;
    text-transform: capitalize;
}
li{
    list-style-type: none;
}
a{
    display: inline-block;
    text-decoration: none;
    color: rgb(64, 64, 64);
}
.menu-img img{
    width: 20px;
    padding: 0 10px 0 10px;
}
h2 a:hover{
    color: rgba(255, 105, 180, 0.6);
}
.menu li:hover{
    background-color: hotpink;
}

/*П Р А В А Я С Т О Р О Н А*/
.dashboard{
    margin-left: 200px;
    width: calc(100% - 200px);
}
.dashboard-container{
    width: 90%;
    margin: 0 auto;
}
.dashboard .card{ /*для всех*/
    background-color: #e0e8ff;
    box-shadow: 3px 3px 4px 1px;
    margin: 30px 10px 10px 10px;
}
.dashboard .card:hover{
    background-color: #fcfdff;
}
.page{
    display: flex;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
    flex-direction: row-reverse;
    border-bottom: 2px solid black;
}
.profile{
    position: relative;   
    width: 60%;     
    padding: 10px;
}
.red{
    background-color: hotpink;
    color: white;
    padding: 10px;
    margin-top: -20px;
}
.form .card{
    padding: 0 5px;
}
.row{
    display: flex;
}
.row div{
    padding: 5px;
}
.row input{
    width: 100%;
    background-color: #e0e8ff00;
    border: none;
    border-bottom: 1px solid black;
}
.row-one div{
   padding: 5px;
}
.one div{
    width: calc(100% / 3);
 }
.row-two{
    width: 100%;
}
.two div{
    width: calc(100% / 2);
 }
.three div{
    width: 100%;
}
.four div{
    width: calc(100% / 3);
 }
.five div{
    width: 100%;
}
.five label{
    white-space: nowrap;
}
.five textarea{
    width: 100%;    
    height: 20px;
    border: none;
    border-bottom: 1px solid black;
    background: #e0e8ff00;
    resize: none;
}
.input{
    text-align: end;
    padding-top: 10px;
}
.b1:hover{
    background-color: rgb(254, 51, 153);
    color: white;
    cursor: pointer;
}
.b1{
    height: 40px;
    background: hotpink;
    color: #e0e8ff;
    text-align: center;
    font-weight: bold;
    border: none;
}
.row-four{
    display: flex;
}


/* u s e r */
.user{
    position: relative;
    width: 40%;
    height: 100%;
    padding:20px 10px;    
    text-align: center;
}
.photo img{
    position: absolute;
    width: 150px;
    right: 0;
    left: 50%;
    margin-right: -50%;
    border-radius: 75px;    
    transform: translate(-50%, -50%);
    box-shadow: 3px 0 3px 3px rgba(0, 0, 0, 0.5);
}
.description{
    justify-content: center;
    padding-top: 100px;
}
.description p:last-child{
    font-style: italic;
    font-family: emoji;
}
.description p:first-child{
    color: rgb(95, 95, 95);
}
.description p:nth-child(2){
    font-weight: bold;
    font-size: 150%;
}
.user img:hover{
    cursor: pointer;
   }


/* F O O T E R */
.footer{
    width: 100%;    
    margin: 30px 0 30px 0;    
}
.footer li{
    display: inline-block;    
    margin: 0 10px 0 10px;
}

.footer li:last-child{
    float: right;
    color: rgb(140 140 140);
}
.comment{
    text-align: end;
}
.footer a:hover{
    color: rgb(255, 105, 180);
}

@media screen and (min-width:800px) and (max-width:1000px){
    .page{
        display: block;
        flex-direction: column-reverse;
    }
    .user{
        width: auto;
    }
    .profile{
        width: auto;
    }
}

@media screen and (max-width:800px){
    .page{
        display: block;
        flex-direction: column-reverse;
    }
    .aside{
        display: none;
    }
    .dashboard {
        width: auto;        
        margin: 20px auto;
    }
    .dashboard .card{
        width: auto;
        padding-top: 10px;
    }
    .container-burger{
        display: block;
    }
    h2{
        display: none;
    }
}

@media screen and (max-width:500px){
    .row{
        display: block;
    }
    .one div {
        width: auto;
    }
    .two div {
        width: auto;
    }
    .four div {
        width: auto;
    }.footer li{
        text-align: center;
    }
    .footer li:last-child{
        float: none;
    }
    .input{
        text-align: center;
    }
    .b1{
        width: 100%;
    }
    .footer {
        text-align: center;
    }
    .footer li:last-child{
        float: inherit;
    }
}